services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "5002:5002"
    depends_on:
      - mydb

  mydb:
    image: mysql:8.4
    container_name: mydb
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_DATABASE: mysql
    ports:
      - "3306:3306"
